{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "Tests" %}{% endblock meta_title %}

{% block title %}{% trans "Tests" %}{% endblock title %}

{% block content %}

<!-- Start Listing -->
{% if exams %}
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
    <tr>
      <th>#</th>
      <th>
        <a href="{% url "exams" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
          {% trans "Subject name" %}
          {% if order_by == 'title' and reverse != '1' %}&uarr;
          {% elif order_by == 'title' and reverse == '1' %}&darr;{% endif %}
        </a>
      </th>
      <th>
        <a href="{% url "exams" %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1{% endif %}">
          {% trans "Date and time" %}
          {% if order_by == 'date' and reverse != '1' %}&uarr;
          {% elif order_by == 'date' and reverse == '1' %}&darr;{% endif %}
        </a>
      </th>
      <th>
        <a href="{% url "exams" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
          {% trans "Teacher's name" %}
          {% if order_by == 'teacher' and reverse != '1' %}&uarr;
          {% elif order_by == 'teacher' and reverse == '1' %}&darr;{% endif %}
        </a>
      </th>
      <th>
        <a href="{% url "exams" %}?order_by=exam_group{% if order_by == 'exam_group' and reverse != '1' %}&amp;reverse=1{% endif %}">
          {% trans "Group" %}
          {% if order_by == 'exam_group' and reverse != '1' %}&uarr;
          {% elif order_by == 'exam_group' and reverse == '1' %}&darr;{% endif %}
        </a>
      </th>
    </tr>
  </thead>
  {% endwith %}
  <tbody>
    {% for exam in exams %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ exam.title }}</td>
      <td>{{ exam.date }}</td>
      <td>{{ exam.teacher }}</td>
      <td><a title="{% trans "Edit" %}" 
				href="{% url "groups_edit" exam.exam_group.id %}">{{ exam.exam_group.title }}</a></td>
    </tr>
    {% endfor %}
          
  </tbody>
</table>
<!-- End Listing -->

{% else %}
 <p>{% trans "There are no groups in base yet" %}</p>

{% endif %}

{% pagenav object_list=exams is_paginated=is_paginated paginator=paginator %}


{% endblock content %}
