{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Редагувати Студента{% endblock meta_title %}

{% block title %}Редагувати Студента{% endblock title %}

{% block status_message %}
	{% if form.errors %}
	<div class="alert alert-warning" role="alert">
		Будь-ласка, виправте наступні помилки
	</div>
	{% endif %}
{% endblock status_message %}

{% block content %}

{% crispy form %}

{% endblock content %}

{% comment "Временно отключен" %}
{% block testparams %} 
	<br><br>
	<p>order_by = {{ request.GET.order_by }}<br>  
	reverse = {{ request.GET.reverse }}<br>  
	test = {{ test }}<br>
	id_sort = {{ id_sort }}<br>
	id_reverse = {{ id_reverse }}<br>
	<a href="{% url "test" %}">Перейти на тестовую страницу</p>
{% endblock testparams %}
{% endcomment %}


