{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Add student" %}{% endblock meta_title %}

{% block title %}{% trans "Add student" %}{% endblock title %}

{% block status_message %}
	{% if errors %}
	<div class="alert alert-warning" role="alert">
		{% trans "Please correct the following errors" %}
	</div>
	{% endif %}
{% endblock status_message %}

{% block content %}

<form action="{% url "students_add" %}" method="post"
	enctype="multipart/form-data" role="form" class="form-horizontal">
	{% csrf_token %}

	<div class="form-group {% if errors.first_name %}has-error{% endif %}">
	<label for="first_name" class="col-sm-2 control-label">{% trans "Name*" %}</label>
		<div class="col-sm-10">
		<input type="text" value="{{ request.POST.first_name }}"
		name="first_name" id="first_name"
		placeholder="{% trans "Enter your first name" %}"
		class="form-control" />
		<span class="help-block">{{ errors.first_name }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.last_name %}has-error{% endif %}">
	<label for="last_name" class="col-sm-2 control-label">{% trans "Last name*" %}</label>
		<div class="col-sm-10">
		<input type="text" value="{{ request.POST.first_name }}"
		name="last_name" id="last_name"
		placeholder="{% trans "Enter your last name" %}"
		class="form-control" />
		<span class="help-block">{{ errors.last_name }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.middle_name %}has-error{% endif %}">
	<label for="middle_name"class="col-sm-2 control-label">{% trans "Middle name" %}</label>
		<div class="col-sm-10">
		<input type="text" value="{{ request.POST.first_name }}"
		name="middle_name" id="middle_name"
		placeholder="{% trans "Middle name" %}"
		class="form-control" />
		<span class="help-block">{{ errors.middle_name }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.birthday %}has-error{% endif %}">
	<label for="birthday"class="col-sm-2 control-label">{% trans "Birthday*" %}</label>
		<div class="col-sm-10">
		<input type="text" value="{{ request.POST.birthday }}"
		name="birthday" id="birthday"
		placeholder="{% trans "For example 2001-12-29" %}"
		class="form-control" />
		<span class="help-block">{{ errors.birthday }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.photo %}has-error{% endif %}">
	<label for="photo" class="col-sm-2 control-label">{% trans "Foto" %}</label>
		<div class="col-sm-10">
		<input type="file" value="" name="photo" id="photo"
		class="form-control" />
		<span class="help-block">{{ errors.photo }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.ticket %}has-error{% endif %}">
	<label for="ticket"class="col-sm-2 control-label">{% trans "Ticket# *" %}</label>
		<div class="col-sm-10">
		<input type="text" value="{{ request.POST.ticket }}"
		name="ticket" id="ticket"
		placeholder="{% trans "Enter ticket's number" %}"
		class="form-control" />
		<span class="help-block">{{ errors.ticket }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.student_group %}has-error{% endif %}">
	<label for="student_group"class="col-sm-2 control-label">{% trans "Group*" %}</label>
		<div class="col-sm-10">
		<select name="student_group" id="student_group"
		class="form-control">
			<option value="">{% trans "Enter group" %}</option>
			{% for group in groups %}
			<option value="{{ group.id }}" 
			{% if group.id == request.POST.student_group|add:0 %}
			selected="1"{% endif %}>{{ group.title }}</option>
			{% endfor %}
		</select>
		<span class="help-block">{{ errors.student_group }}</span>
		</div>
	</div>

	<div class="form-group {% if errors.notes %}has-error{% endif %}">
	<label for="notes" class="col-sm-2 control-label">{% trans "Notes" %}</label>
		<div class="col-sm-10">
		<textarea name="notes" id="notes" placeholder="Введіть нотатки про студента" 
		class="form-control">{{ request.POST.notes }}</textarea>
		<span class="help-block">{{ errors.notes }}</span>
		</div>
	</div>

	<div class="form-group">
	<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
		<input type="submit" value="Додати" name="add_button"	class="btn btn-primary" />
		<button type="submit" name="cancel_button"	class="btn btn-link">{% trans "Cancel" %}</button>
		</div>
	</div>
</form>

{% endblock content %}

{% comment "Временно отключен" %}
{% block testparams %} 
	<br><br>
	<p>order_by = {{ request.GET.order_by }}<br>  
	reverse = {{ request.GET.reverse }}<br>  
	test = {{ test }}<br>
	id_sort = {{ id_sort }}<br>
	id_reverse = {{ id_reverse }}<br>
	<a href="{% url "test" %}">Перейти на тестовую страницу</p>
{% endblock testparams %}
{% endcomment %}


