

:focus{outline:0;}

select{
font-size:18px;
color:#772059;
width:150px;
//border:1px solid #772059;
//background-color:#faedf5;
//border-radius:6px 6px 6px 6px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius:6px;
-khtml-border-radius:6px 6px 6px 6px;
-webkit-appearance:none;
//-moz-appearance:window;
-o-appearance:none;
-khtml-appearance:none;
appearance:none;
overflow:hidden;
height:24px;
//background:#faedf5 url(sel-bg.png) no-repeat right;
}

@media all and -webkit-min-device-pixel-ratio0 {
select{padding-right:16px;}
}
